.addNewFile{
    position: absolute;
    right: 10%;
    top: 30%;
    z-index: 999;
    background-color: #fff;
    width: 40%;
    height: fit-content;
    border: 1px solid #fed766;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10%;

    .topLine{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span{
            font-size: 14px;
            font-weight: 400;
        }
    }

    .middleStage{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;

        .file{

            .itemPicture {
                flex: 0.5;
                display: flex;
                justify-content: center;
                cursor: pointer;
                
              }
    
              .green{
                color: #7fc6a4;
              }
    
              .red{
                color: #d7826a;
              }
        }
    }

    input{
        border: 1px solid #fed766;
        border-radius: 10px;
        height: 30px;

        &:focus{
            outline: none;
        }
    }

    button{
        background: #fed766;
        cursor: pointer;
        border: none;
        color: #000;
        font-size: 14px;
        border-radius: 10px;
        width: fit-content;
        padding: 5px;
        margin-top: 20px;
        padding: 10px 20px;
    }

    
}

.tableTasks{
    padding: 15px 0px;

    .filterTasks{
        display: flex;
        align-items: center;

        .filteredTasksItem{
            background-color: #cecece;
            padding: 5px 15px;
            cursor: pointer;
            color: white;
        }
        .active {
            background-color: #118ab2;
        }
    }

    .tableHead{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background-color: #118ab2;
        ul{
            width: 98%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #118ab2;
            color: white;
            

            li{
                display: inline-block;
                border-left: 1px solid white;
                padding-left: 5px;
            }
        }
    }

    .tableContents{
        height: 250px;
        overflow-y: scroll;
        cursor: pointer;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;
                border-left: 1px solid white;
                padding-left: 5px;
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }   
}

