.tableRelationships{


    .filterRelationship{
        display: flex;

        .filteredRelasionshipItem{
            background-color: #cecece;
            padding: 5px 15px;
            cursor: pointer;
            color: white;
        }
        .active {
            background-color: #118ab2;
        }

        
    }
    .tableHead{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background-color: #118ab2;
        ul{
            width: 98%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #118ab2;
            color: white;
            

            li{
                display: inline-block;
                border-left: 1px solid white;
                padding-left: 5px;
            }
        }
    }

    .tableContents{
        height: 200px;
        overflow-y: scroll;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;
                border-left: 1px solid white;
                padding-left: 5px;
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }   
}